body {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    line-height: 17px;
    font-family: 'Cuprum';
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.filter b {
    text-transform: uppercase;
    line-height: 30px;
}
.center-container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.first-header {
    background: #293449;
    height: 40px;
    font-size: 0px;
}
.second-header {
    background: #f1f5f7;
    box-sizing: border-box;
    padding-top: 26px;
    padding-bottom: 60px;
}
.page-logo {
    float: left;
    width: 110px;
    padding: 8px 55px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    background: #ee3643;
    border-bottom: 6px solid #b52933;
}
.page-logo:hover, .footer-logo:hover {
    background-color: #ca2c37;
    border-color: #9a212a;
}
.page-logo:active, .footer-logo:active {
    background-color: #ba2732;
    border-color: #8e1e26;
}
.search input{
    float: left;
    width: 171px;
    padding: 11px 48px;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    background: #293449 url(../img/spritesheet.png) no-repeat -5px -1058px;
    color: #fff;
    border: none;
}
.search input::-webkit-input-placeholder {color:#fff;} 
.search input::-moz-placeholder {color:#fff;}/
.search input:-moz-placeholder {color:#fff;}
.search input:-ms-input-placeholder {color:#fff;}
.search input:hover {
    background-color: #212a3a;
    background-position: -5px -1229px;
}

.search input:focus {
    color:#000;
    background-color: #fff;
    background-position: -5px -1172px;
}
.header-section {
    display: inline-block;
    width: 152px;
    height: 40px;
    padding: 10px 30px 10px 43px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 18px;
    color:#fff;
    text-decoration: none;
}
.header-section.bookmark {
    background: url(../img/spritesheet.png) no-repeat -5px -178px;
}
.header-section.bookmark:hover {
    background-position: -5px -290px;
}
.header-section.bookmark:active {
    background-position: -5px -234px;
}
.header-section.basket {
    background: url(../img/spritesheet.png) no-repeat -5px -10px;
}
.header-section.basket:hover {
    background-position: -5px -122px;
}
.header-section.basket:active {
    background-position: -5px -66px;
}
.header-section:hover {
    background-color: #212a3a;
}
.header-section:active {
    background-color: #161d29;
}
.order {
    width: 150px;
    height: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 18px;
    color:#fff;
    text-decoration: none;
    background: #63a63e;
}
.order:hover {
    background: #5fbb2d;    
}
.order:active {
    background: #518534;
    color: #aac39b;
}
.site-description {
    float: left;
    width: 200px;
    padding: 7px 52px;
    margin-right: 17px;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
}
.phone-container {
    float: left;
}
.phone {
    padding: 10px 50px 10px 70px;
    font-size: 21px;
    border: 2px solid #fff;
    line-height: 18px;
    color: #e93536;
    background: url(../img/spritesheet.png) no-repeat -5px -919px;
}
.address {
    font-size: 14px;
    line-height: 24px;
    margin-top: -15px;
    padding: 0px 8px;
    
}
.user-section {
    float: right;
    margin-top: 20px;
    font-size: 0;
}
.header-btn {
    display: inline-block;
    padding: 13px 25px;
    font-size: 21px;
    line-height: 18px;
    margin-right: 10px;
    text-decoration: none;
    color:#000;
    background: #fff;
}
.header-btn:hover {
    color:#ee3643;
}
.header-btn:active{
    color: #b2b2b2;
}
.header-btn:last-child {
    margin-right: 0px;
}
.login {
    padding-left: 45px;
    background: #fff url(../img/spritesheet.png) no-repeat -8px -687px;
}
.login:hover {
    background-position: -8px -744px;
}
.login:active {
    background-position: -8px -687px;
}
.site-nav {
    display: inline-block;
    clear: both;
    font-size: 0;
    padding: 0px;
    margin-top: 18px;
    background: #32425c;
}
.site-nav li {
    display: inline-block;
}
.navigation-item {
    display: inline-block;
    padding: 19px 30px;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #fff;
    border-bottom: 5px solid #293449;
}
li:first-child .navigation-item { 
    padding-left: 56px;
}
li:last-child .navigation-item { 
    padding-right: 56px;
}
.navigation-item:hover {
    background: #293449;
}
.navigation-item:active {
    background: #1d2739;
    color: #777d88;
}
main .center-container{
    position: relative;
    padding-top: 58px;
    font-size: 0;
}
.promo {
    position: relative;
    width: 300px;
    height: 123px;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 21px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.promo:nth-child(3n) {
    margin-right: 0px;
}
.promo h3 {
    font-size: 24px;
    line-height: auto;
    margin: 0px;
}
.promo-materials {
    background: #f6b22d url("../img/promo materials.png") no-repeat 210px;
}
.promo-instruments {
    background: #4aafde url("../img/promo instruments.png") no-repeat 200px;
}
.promo-tech {
    background: #cc79d1 url("../img/promo tech.png") no-repeat 190px;
}
.promo-sale {
    float: right;
    margin-right: 0px;
    background: #85d179 url("../img/promo sale.png") no-repeat 195px;
}
.promo-delivery {
    float: right;
    background: #f6b22d url("../img/promo delivery.png") no-repeat 190px;
    margin-bottom: 50px;
}
.flag-new{
    position:absolute;
    top:0px;
    right:0px;
    width:60px;
    height:60px;
    font-size:0px;
    background:url("../img/new%20flag.png") no-repeat 0 0;
}
.btn-promo {
    display: block;
    width: 95px;
    margin-left: 3px;
    margin-top: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.6;
}
.btn-promo:hover {
    opacity: 0.8;
}
.btn-promo:active {
    opacity: 1;
}
.btn-materials {
    background-color: #dda028;
}
.btn-instruments {
    background-color: #429dc7;
}
.btn-tech {
    background-color: #b76dbc;
}
.btn-sale {
    background-color: #77bc6d;
}
.btn-delivery {
    background-color: #dda028;
}
.sliderBox {
    position: relative;
    float: left;
    width: 620px;
    height: 266px;    
    overflow: hidden;
}
.sliderBox .images{
    width: calc(620px * 2);
  height: 100%;
  position: relative;
  overflow: hidden;
}
.sliderBox img {
    display: inline-block;
}
.slide-btn-left {
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 40px;
    top: 114px;
    left: 25px;
    background: url(../img/spritesheet.png) no-repeat -20px -621px;    
    opacity: 0.6;
}
.slide-btn-right {
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 40px;
    top: 114px;
    right: 25px;
    background: url(../img/spritesheet.png) no-repeat -20px -988px; 
    opacity: 0.6;
}
.sliderBox .slide {
    position: absolute;
    top: -110px;
}
.sliderBox .slide:hover {
    cursor: pointer;
    opacity: 1;
}
.sliderBox .controls {
    position: absolute;
    width: 620px;
    bottom: 0px;       
    padding-bottom: 25px;
    text-align: center;
}
.sliderBox .point {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #fff;
}
.point:hover {
    cursor: pointer;
}
.point.active:after {
    content: "";
    position: absolute;
    top:2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ee3643;
}
.btn {
    display: inline-block;
    padding: 10px 50px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #ee3643;
    border-radius: 3px;
}
.btn:hover {
    background: #ca2c37;
}
.btn:active {
    background: #ba2732;
}
.sliderBox>.btn {
    position: absolute;
    top: 206px;
    left: 24px;
}
.popular-header {
    clear: both;
    display: inline-block;
    width: 885px;
    margin: 0;
    margin-bottom: 20px;
    padding: 30px 25px 25px 30px;
    background: #f7f3ec;
    border-radius: 3px;
}
.popular-font {
    display: inline-block;
    color: #32425c;
    font-weight: normal;
    margin: 0;
}
.popular-header .btn {
    float: right;
    width: 255px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    margin-top: -3px;
}
.product-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 180px;
    height: 267px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 30px 18px 20px;
    border: 1px solid #e5e5e5;    
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.product-item:hover {
    box-shadow: 0 0 15px gray;
}
.product-item:hover .actions{
    display:block;
}
.product-item b {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 20px;
}
.product-item a {
    text-decoration: none;
    color: #000;
}
.product-image {
    position: relative;
    display: inline-block;
    width: 220px;
    margin-left: -20px;
    margin-top: -30px;
    height: 170px;
    overflow: hidden;
}
.product-image img {
    position: absolute;  
    height: auto; 
    margin: auto;
    left: 0; 
    top: 0; 
    bottom: 0; 
    right: 0; 
}
.product-item .old-price {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 18px;
    color: #999;
    text-decoration: line-through;
    font-weight: bold;
}
.product-item .btn-price {
    display: inline-block;
    position: absolute;
    left: 40px;
    bottom: 21px;
    padding: 10px 20px 10px 38px;
    font-size: 17px;
    line-height: 18px;
    border-radius: 3px;
    text-transform: uppercase;
    background: #ee3643;
    color: #fff;
}
.btn-price:after {
  content: "";
  position: absolute;
  top: 0;
  border: 19px solid #ee3643;
  right: -18px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: transparent;
}
.product-container {
    position: relative;
    width: 700px;
}
.popular-container {
    max-width: 940px;
}
.popular-container article:nth-child(4n), .product-container article:nth-child(3n) {
    margin-right: 0px;
}
.popular-item {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
}
.popular-item:nth-child(4n) {
    margin-right: 0;
}
.popular-item:hover {
    box-shadow: 0 0 15px gray;
}
.popular-item:active {
    opacity: 0.5;
}
.popular-item a {
    display: inline-block;
    width: 220px;
    height: 145px;
    text-align: center;
}
.popular-item img {
    position: absolute;  
    height: auto; 
    margin: auto;
    left: 0; 
    top: 0; 
    bottom: 0; 
    right: 0; 
}
.actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,1);
    z-index:1;
    display:none;
}
.action-btn{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    color:#fff;
    font-size:14px;
    font-family:"Cuprum";
    line-height:auto;
    text-decoration:none;
    text-transform:uppercase;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    border-radius:3px;
}
.action-btn.buy {
    color: #fff;
    background: #63a63e url("../img/sprite.png") no-repeat 12px -214px;
}
.action-btn.buy:hover {
    border-color: #5fbb2d;
    border-bottom-color:#367315; 
    background-color: #5fbb2d;
}
.action-btn.buy:active {
    border-color: #518534;
    background-color: #518534;
}
.action-btn.bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.action-btn.bookmark:hover {
    border-color: #32425c;
}
.action-btn.bookmark:active {
    opacity: 0.5;
}
.service-container {
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 100px;
    background: #f2f6f8;
    margin-bottom: 20px;
}
.service-container h2 {
    line-height: 24px;
    margin-bottom: 30px;
}
.service-container p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans";
    
}
.service-section {
    float: left;
    width: 240px; 
    padding: 60px 10px 60px 0px;
    background: url("../img/line%20shadow.png") no-repeat 233px;
}
.service-section li {
    width: 240px;
    padding: 14px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    background-color: #32425c;
}
.service-description {
    float: right;
    position: relative;
    width: 380px;
    padding-right: 240px;
    
}
.service-description h2 {
    font-size: 36px;
    line-height: 24px;
}
.service-description div {
    display: none;
    position: absolute;
    width: 380px;
    height: 185px;
    padding-right: 240px;
    margin-top: 60px;
}
.service-description p {
    margin: 0;
}
.credit .btn {
    margin-top: 30px;
}
.delivery {
     background: url("../img/service%20delivery.png") no-repeat 150px 20px;
}
.guarantee {
    background: url("../img/service%20guarantee.png") no-repeat 220px 0;
}
.credit {
    background: url("../img/service%20credit.png") no-repeat 150px 0;
}
.service-description .active {
  display: block;
  color: #32425c;
  border: none;
}
#menu li:hover {
  cursor:pointer;
  background-color: #293449;
}
#menu li.active  {
    color: #32425c;
    background-color: #fff;
    border: none;
}
.about-us {
    position: relative;
    margin-bottom: 85px;
}
.left-column {
    float: left;
    width: 540px;
    padding-right:90px;
}
.about-us p {
    font-size: 13px;
    line-height: 24px;
    margin-top: 25px;
    font-family: "PT Sans";
}
.transport-company li {
    padding: 10px 35px;
    font-size: 18px;
    line-height: 20px;
    background: url("../img/trans%20companies.png") no-repeat 0px 19px;
}
.left-column .btn {
    margin-top: 28px;
    padding:10px 40px;
}
.right-column {
    float: right;
    width: 300px;
}
.right-column img {
    margin-top:23px;
}
.right-column .btn {
    margin-top: 30px;
    padding: 10px 63px;
}
.map {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -470px;
    margin-top: -222px;
    width: 940px;
    height: 445px;
    box-shadow: 0 0 50px gray;
}
.map-popup-show {
    display: block;
}
/*Вынес кнопку за контейнер из-за особенностей гугл-карты*/
.map .form-close {
    right: -30px;
    top: 0;
}
.write-us {
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -300px;
    width: 460px;
    padding: 45px 80px 38px;
    border-top: 10px solid #ee3643;
    background-color: #fff;
    box-shadow: 0 0 50px gray;
}
.write-us-show {
    display: block;
}
.write-us label {
    display: inline-block; 
    font-size: 18px;
    line-height: 18px;    
}
.write-us [placeholder]{
    display: block;
    margin-top: 9px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans";
}
.write-us input {
    display: block;
    width: 185px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: 2px solid #d7dcde;
}
.write-us label:nth-child(2) input {
    margin-right: 0px;
}
.write-us textarea {
    width: 425px;
    height: 93px;
    padding: 8px 15px;
    border: 2px solid #d7dcde;
}
.write-us .btn {
    margin-top: 75px;
    width: 100%;
    border: none;
}
.first-footer {
    background-color: #32425c;
    color:#fff;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 30px;
}
.contacts {
    float: left;
    width: 380px;
}
.contacts p {
    margin-top: 30px;
}
.footer-logo {
    display: inline-block;
    padding: 18px 42px 13px;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 5px solid #b52933;
    color:#fff;
    background-color: #ee3643;
}
.footer-nav {
    float: right;
    width: 550px;
}
.nav-first-line {
    float: right;
}
.nav-second-line {
    float: right;
}
.nav-first-line li:last-child {
    margin-right: 0px;
}
.nav-second-line li:last-child {
    margin-right: 0px;
}
.footer-nav li {
    display: inline-block;
    margin-top: 35px;
    margin-right: 55px;
}
.footer-nav a {
    text-decoration: none;
    color: #fff;    
}
.footer-nav a:hover {
    text-decoration: underline;
}
.footer-nav a:active {
    opacity: 0.5;
    text-decoration: none;
}
.nav-second-line a {
    color: #ffd180;
}
.second-footer {
    background-color: #293449;
    overflow: hidden;    
    padding: 22px 0px;
}
.second-footer p {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}
.copyright {
    float: left;
    width: 240px;
}
.social {
    float: left;
    width: 320px;
    margin-left:55px;
    text-align: center;
}
.social-btn {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-top: 10px;
    border-radius: 100%;
}
.social-btn:hover {
    background-color: #ee3643;
}
.btn-vk {
    background: #212a3a url("../img/spritesheet.png") no-repeat -9px -1720px;
}
.btn-fb {
    background: #212a3a url("../img/spritesheet.png") no-repeat -4px -1610px;;
}
.btn-ins {
    background: #212a3a url("../img/spritesheet.png") no-repeat -8px -1667px;
}
.feedback {
    float: right;
    width: 300px;
}
.feedback-item {
    display: inline-block;
    margin-right: 48px;
}
.feedback-item:last-child {
    margin-right: 0;
}
.feedback-item a {
    text-decoration: none;
    color: #ffd180;
}
.feedback-item a:hover {
    text-decoration: underline;
}
.feedback-item a:active {
    text-decoration: none;
    color: #ee3643;
}
/*Страница каталога*/
.header-section[no-empty] {
    background-color: #ee3643;
}
.filter {
    float: left;
    min-width: 220px;
}
.catalog {
    float: right;
    width: 700px;
}
.about {
    clear: both;
}
.au-user-section {
    float: right;
    width: 300px;
    margin-top: 20px;
}
.user-board {    
    background-color: #fff;
    padding: 0;
}
.user-board a:first-child {
    display: inline-block;
    padding: 14px 0 14px 48px;
    font-size: 21px;
    line-height: 18px;
    text-decoration: none;
    color:#000;
    background: url(../img/spritesheet.png) no-repeat -5px -1432px;
}
.user-board a:first-child:hover {
    background-position: -5px -1490px;
}
.user-board a:first-child:active {    
    background-position: -5px -1432px;
    color: #b2b2b2;
}
.user-board a:last-child {
    display: inline-block;
    width: 40px;
    margin-left: 22px;    
    height: 45px;
    vertical-align: top;
    background: url(../img/spritesheet.png) no-repeat -10px -802px 
}
.user-board a:last-child:hover {
    background-position: -10px -859px;
}
.user-board a:last-child:active {
    background-position: -10px -802px;
}
.au-user-section>a {
    display: inline-block;    
    margin-top: 7px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}
.au-user-section>a:hover {
  color: #ee3643;
}
.au-user-section>a:active {
  color: #b2b2b2;
}
.au-user-section>a:last-child {
    margin-left: 0px;
}
.au-user-section .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    border-radius: 100%;
    vertical-align: middle;
    background-color: #32425c;
}
.breadcrumbs {
  margin-top: -40px;
  margin-bottom: 20px;
}
.breadcrumbs a {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-decoration: none;  
  text-transform: uppercase;
}
.breadcrumbs span {
  display: inline-block;
  width: 40px;
  height: 18px;
  vertical-align: middle;
  background: url(../img/.icon-right-small.png) no-repeat 10px;
}
.breadcrumbs .home {
  width: 20px;
  vertical-align: middle;
  background: url(../img/spritesheet.png)  no-repeat -20px -567px;
}
.filter-name, .sorting {
  margin-bottom: 16px;
  padding: 13px 18px;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7f3ec;
}
.filter>span, .filter legend {
  display: block;
  margin-bottom: 10px;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase; 
}
.filter legend {
    width: 100%; 
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 0;    
}
.range-filter{
    padding-top:10px;
    width:220px;
    margin:auto;
    padding-bottom:30px;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#f7f3ec;
    border-radius:5px;
    overflow:hidden;
}
.bar, .scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar{  
    width: 140px;
    background:#00ca74;
}
.toggle{
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.max-toggle{
    left:160px;
}
.range-filter input{
    width:75px;
    margin-top: -10px;
    padding:8px 10px;
    border:none;
    background:#f7f3ec;
    font-family: 'PT Sans';
    font-size:17px;    
    text-align:center;
    border-radius:5px;
}
.range-filter span {
  font-size: 16px;
  line-height: 18px;
  margin-right: 9px;
  margin-left: -4px;
}
.min-price{
    margin-right:14px;
}
.filter fieldset {
  padding: 0 0 10px 0;
  border: none;  
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter input[type="checkbox"] {
  display: none;
}
.filter input[type="radio"] {
    display: none;
}
.filter label {
  display: block;
  position: relative;
  margin: 10px 0 20px 0;
  padding-left: 32px;
  vertical-align: middle;
}
input[type="checkbox"] + label::before {
    content: "";
    position: absolute;    
    display: block;
    width: 19px;
    height: 19px;
    border: 2px solid #c1c1c1;
    border-radius: 6px;
    left: 0;
    top: 0;
}
input[type="checkbox"] + label:hover::before {
    border-color: #b5b5b5;
}
input[type="radio"] + label:hover::before {
    border-color: #b5b5b5;
}
input[type="radio"]:checked + label:hover::after {
    background-color: #b5b5b5;
}
input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/spritesheet.png) no-repeat -20px -356px;
    width: 27px;
    height: 23px;
    left: 0;
    top: 0;
}
input[type="radio"] + label::before {
    content: "";
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    border: 2px solid #c1c1c1;
    left: 0;
    top: 0;
    border-radius: 100%;
}
input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    background-color: #c1c1c1;
    left: 8px;
    top: 8px;
    border-radius: 100%;
}
.filter button[type="submit"] {
    padding: 8px 38px;
    margin-top: 50px;
    border: 1px solid #c1c1c1;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
}
.card-add {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -310px;
    width: 620px;
    height: 275px;
    border-top: 10px solid #ee3643;
    box-shadow: 0 0 50px gray;
    background-color: #fff;
    z-index: 2;
}
.card-show {
    display: block;
}
.card-add .message {
    position: relative;
    margin: 0;
    padding: 72px 70px 72px 180px;
    font-size: 30px;
    line-height: 18px;
    background: url(../img/cart+%20success.png) no-repeat 80px;
}
.card-add .buttons {
    padding: 38px 80px;
    background-color: #f1f1f1;
}
.buttons a {
    width: 220px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0;
    margin-right: 20px;
}
.buttons a:last-child {
    margin-right: 0;
}
.card-add .continue {
    background-color: #fff;
    color: #000;
}
.form-close {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 9px;
    right: 9px;
    background: url(../img/spritesheet.png) no-repeat -20px -1562px;
    cursor: pointer;
}
.sorting span {
  margin-right: 100px;
}
.sorting-name {
  display: inline-block;
  margin: 0 35px;
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #ee3643;
}
.sorting-name:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}
.sorting-name[active] {
  display: inline-block;
  color: #ee3643;
  border: none;
}
a.arrow-up {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-right: 15px;
  background: url(../img/spritesheet.png) no-repeat -20px -1295px;
}
a.arrow-up:hover {
  background-position: -20px -1396px;;
}
a.arrow-up[active] {
  background-position: -20px -1346px;
}
a.arrow-down{
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url(../img/spritesheet.png) no-repeat -20px -469px;
}
a.arrow-down:hover {
  background-position: -20px -519px;
}
a.arrow-down[active] {
  background-position: -20px -419px;
}
.pagination {
    margin-top: 29px;
    margin-bottom: 55px;
}
.pagination a {
    display: inline-block;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 9px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}
.pagination a:hover {
    border-color: #bdc6ca;
}
.pagination a:active {
    border-color: #ee3643;
}
.pagination .current {
    color: #fff;
    background-color: #ee3643;
}
.pagination .page-next {
    padding: 10px 30px;
}
.about {    
    background-color: #f2f6f8;
    padding-bottom: 60px;
    margin: 0;
}
.about p {
    margin-top: 30px;
    font-size: 13px;
    font-family: 'PT Sans';
    line-height: 24px;
}